*{
    margin: 0px;
}
/*navbar*/
.nav{
height: 120px;
width: 100%;
background-color:beige;
text-align: right;
}

.nav-links{
font-size: 20px;
}
.headline{
    text-align: center;
    padding: 20px;
    color: rgb(13, 3, 22);
    font-size: xx-large; 
}

table, td {
    border:1px solid black;
}